*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{ 
    text-decoration: none;
}

li{
    list-style: none;
}


body{
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-color);
}

:root {
    --yellow: #F8F200;
    --dark-color: #000;
    --light-color: #fff;
    --text-color: #777;
}


.btn{
    color: var(--yellow);
    padding: 19px 25px;
    background: #000;
}

.blue__text{
    font-weight: 700;
    color: #52BEDC;
}

.list__item{
    margin-bottom: 20px;
    padding-left: 42px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: contain;
}   

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.main{
    position: relative;
    background: url('../img/11.jpg') no-repeat center top / cover;
}

.header{
    padding: 10px 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu--link {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: x center;
    background-repeat: no-repeat;
    background-size: cover;
}

.youtube{
    background-image: url(../img/social/youtube.svg);
}

.vk{
    background-image: url(../img/social/vk.svg);
}

.facebook{
    background-image: url(../img/social/facebook.svg);
}
.twitter{
    background-image: url(../img/social/twitter.svg);
}
.twich{
    background-image: url(../img/social/twitch.svg);
}
.ins{
    background-image: url(../img/social/instagram.svg);
}

.hero_container{
    display: flex;
    margin-top: 200px;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero__info{
    max-width: 624px;
    margin-top: 537px;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
    padding: 70px;
    background: var(--yellow);
}

.hero--title{
    font-size: 62px;
    margin-bottom: 50px;
}

.hero--btn{
    font-size: 24px;
}

.night__city{
    padding: 70px 0;
}
.night__city--title{
    font-size: 62px;
    font-weight: 500;
}

.night__city--subtitle{
    font-size: 18px;
    padding: 25px 0;
}

.night__city--images{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.night__city--left_images{
    max-width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.night__city--big__image{
    max-width: 62%;
}

.night__city--big__image img{
    max-width: 100%;
  }

.game{
    color: var(--light-color);
    background: var(--dark-color);
    padding-bottom: 50px;
}

.game::before{
    content: '';
    display: block;
    width: 100%;
    height: 20vh;
    background: url(../img/before.png) no-repeat;

}

.game__title{
    font-size: 62px;
}

.game__title::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(../img/promotion.svg);
    background-size: cover;
}


.game__subtitle{
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}

.game__coll{
    display: flex;
}

.game__form{
    max-width: 460px;
    margin-top: 98px;
}

.game__form input{
    width: 100%;
    padding: 11px;
    padding-left: 0;
    margin-bottom: 15px;
    background: var(--dark-color);
    overflow: hidden;
}

.game__file{
    padding: 39px 137px;
    background: var(--dark-color);
    border: 1px dashed #777777;
}

.game__btn{
    color: var(--dark-color);
    font-size: 18px;
    font-weight: 700;
    background: var(--yellow);
    margin-top: 35px;
    padding: 19px 50px;
}

.game__images{
    display: flex;
    flex-wrap: wrap;
}

.game__images img{
    width: 50%;
}

.hp{
    padding: 70px 0;
    background: var(--yellow);
}

.hp__coll{
    display: flex;
    gap: 32px;
}



.hp__img{
    max-width: 610px;
}

.big__img{
    width: 100%;
}
.big__img img {
    width: 100%;
}


.img__coll{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hp__info{
    max-width: 610px;
}

.hp__title{
    font-size: 62px;
    line-height: 60px;
    margin-bottom: 25px;
}

.hp__list{
    padding: 25px 0;
}


.hp--list__item{
    margin-bottom: 20px;
    padding-left: 42px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: contain;
}   

.buy{  
    background: var(--dark-color);
    position: relative;
}

.buy__left img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    max-width: 944px;
    object-fit: cover;
}

.buy__info{
    display: flex;
    justify-content: flex-end;
    color: var(--light-color);
    padding: 70px 0;
}

.buy__content{
    width: 50%;
    padding-top: 70px;
    padding-bottom: 65px;
    padding-left: 32px;
}

.buy__info--title{
    font-size: 62px;
    margin-bottom: 25px;
}

.buy__list--title{
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0;
}

.buy__list .list__images{
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer__logo img{
    margin-right: 32px;
}

.menu__link{
    color: var(--dark-color);
    font-size: 18px;
    margin-left: 32px;
}

.footer__buttom{
    background: var(--dark-color);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 13px 0;
    color: var(--light-color);
}


@media screen and (max-width: 900px) {
    .container{
        
    }
}

@media screen and (max-width: 740px) {
    .header{
        flex-direction: column;
    }

    .hp__coll{
        flex-direction: column;
    }

    .buy__left{
        width: 30%;
    }
    .buy__info{
        width: 70%;
    }
}



